## A basic GitHub Actions workflow for your Quarkus application.

name: CI build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK {java.version}
        uses: actions/setup-java@v4
        with:
          java-version: {java.version}
          distribution: temurin
          {#if buildtool.cli.contains('gradle')}
          cache: gradle
          {#else}
          cache: maven
          {/if}

     {#if buildtool.cli.contains('gradle')}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

     {/if}
      - name: Build
        run: |
          # if the repository has been initialized with Windows, we need to set the permissions here
          chmod 755 ./mvnw
          {buildtool.cli} {buildtool.cmd.build-ci}